<div class="row">
    <app-breadcrumb class="col-lg-12" currentPage="Вход" />
    <div class="col-md-6 mx-auto">
        <div class="box">
            <h1>Вход</h1>
            <p class="lead">
                Ако имате профил, използвайте имейла си за да влезете.
            </p>
            <p class="text-center text-muted">
                <a routerLink="/register"><strong>Регистрирай се сега</strong></a>!
            </p>
            <hr />
            <form>
                <div class="form-group">
                    <label for="email">Имейл адрес</label>
                    <input type="email" id="email" class="form-control" placeholder="admin@abv.bg" name="email" />
                </div>
                <div class="form-group">
                    <label for="password">Парола</label>
                    <input type="password" id="login-password" class="form-control" name="password" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i>Вход
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
