<div class="row">
    <app-breadcrumb class="col-lg-12" currentPage="Нова регистрация" />
    <div class="col-md-6 mx-auto">
        <div class="box">
            <h1>Нова регистрация</h1>
            <p class="lead">Регистрацията Ви дава безброй предимства.</p>
            <p class="text-muted">Aко вече сте регистриран потребител, <a routerLink="/auth/login">Вход</a> към вашия
                профил!</p>
            <hr>
            <form [formGroup]="registerForm" (ngSubmit)="registerHandler()">
                <div class="form-group">
                    <label for="firstName">Име</label>
                    <input type="text" id="firstName" class="form-control" formControlName="firstName" name="firstName"
                        [class.is-invalid]="isFirstNameValid.css" autocomplete="off" />
                    <ng-container *ngIf="isFirstNameValid.touched ">
                        <p class="invalid-feedback" *ngIf="isFirstNameValid.required">Моля въведете име!</p>
                        <p class="invalid-feedback" *ngIf="isFirstNameValid.minLength">Името изисква минимум 2
                            символа!</p>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input type="text" id="lastName" class="form-control" formControlName="lastName" name="lastName"
                        [class.is-invalid]="isLastNameValid.css" autocomplete="off" />
                    <ng-container *ngIf="isLastNameValid.touched ">
                        <p class="invalid-feedback" *ngIf="isLastNameValid.required">Моля въведете фамилия!</p>
                        <p class="invalid-feedback" *ngIf="isLastNameValid.minLength">Фамилията изисква минимум 2
                            символа!</p>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label for="email">Имейл адрес</label>
                    <input type="email" id="email" class="form-control" formControlName="email" name="email"
                        placeholder="admin@abv.bg" [class.is-invalid]="isEmaildValid.css" autocomplete="off" />
                    <ng-container *ngIf="isEmaildValid.touched ">
                        <p class="invalid-feedback" *ngIf="isEmaildValid.required">Моля въведете имейл адрес!</p>
                        <p class="invalid-feedback" *ngIf="isEmaildValid.isMatch">Имейл адреса не отговаря на
                            изискванията!</p>
                    </ng-container>
                </div>
                <ng-container formGroupName="passGroup">
                    <div class="form-group">
                        <label for="password">Парола</label>
                        <input type="password" id="password" class="form-control" formControlName="password"
                            name="password" [class.is-invalid]="isPassGroupdValid.cssPass" />
                        <ng-container *ngIf="isPassGroupdValid.touched">
                            <p class="invalid-feedback" *ngIf="isPassGroupdValid.requiredPass">Моля въведете парола!</p>
                            <p class="invalid-feedback" *ngIf="isPassGroupdValid.minLength">Паролата изисква минимум 6
                                символа!</p>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Повтори паролата</label>
                        <input type="password" formControlName="confirmPassword" name="confirmPassword"
                            id="confirmPassword" class="form-control"
                            [class.is-invalid]="isPassGroupdValid.cssRePass" />
                        <ng-container *ngIf="isPassGroupdValid.touched">
                            <p class="invalid-feedback" *ngIf="isPassGroupdValid.requiredRePass">Моля повторете
                                паролата!</p>
                            <p class="invalid-feedback" *ngIf="isPassGroupdValid.isMatch">Въведените пароли не съвпадат!
                            </p>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="text-center">
                    <button class="btn btn-primary" [disabled]="registerForm.invalid">
                        <i class="fa fa-user-md"></i>Регистрация
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
