<div class="row">
    <app-breadcrumb class="col-lg-12" currentPage="Профил" />
    <app-sidebar class="col-lg-3" />
    <div class="col-lg-9">
        <div class="box">
            <h3><i class="fa fa-user"></i> {{user?.firstName}} {{user?.lastName}}</h3>
            <h4><i class="fa fa-envelope"></i> {{user?.email?.replace("@", '/@/')}}</h4>
            <p class="lead"><i class="fa fa-book"></i> Вие сте автор на <strong>{{counter()[0]}}</strong>
                {{counter()[1]}}.</p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Нова</th>
                            <th>Налична</th>
                            <th>Създаден</th>
                            <th>Обновен</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of user?.createdBooks">
                            <td><a [routerLink]="['/books', book._id]">{{book.title }}</a></td>
                            <td>{{ book.news ?'Да':'Не'}}</td>
                            <td>{{ book.sale ?'Да':'Не'}}</td>
                            <td>{{book.createdAt | date:"dd.MM.yy HH:mm"}}</td>
                            <td>{{book.updatedAt | date:"dd.MM.yy HH:mm"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
