.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/*
    *
    * ======================================================================
    * RIBBONS
    * ======================================================================
    *
    */
.ribbon {
  position: absolute;
  top: 50px;
  padding-left: 51px;
  z-index: 20;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon .theribbon {
  position: relative;
  width: 80px;
  padding: 6px 20px 6px 20px;
  margin: 30px 10px 10px -71px;
  color: #fff;
  background-color: #4fbfa8;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon .theribbon:before,
.ribbon .theribbon:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

.ribbon .theribbon:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #2d7b6b #2d7b6b transparent transparent;
}

.ribbon.sale {
  top: 0;
}

.ribbon.new {
  top: 50px;
}

.ribbon.new .theribbon {
  background-color: #17a2b8;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon.new .theribbon:after {
  border-color: #0c525d #0c525d transparent transparent;
}

.ribbon.gift {
  top: 100px;
}

.ribbon.gift .theribbon {
  background-color: #28a745;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon.gift .theribbon:after {
  border-color: #145523 #145523 transparent transparent;
}
