.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.ribbon {
  position: absolute;
  top: 50px;
  padding-left: 51px;
  z-index: 20;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon .theribbon {
  position: relative;
  width: 80px;
  padding: 6px 20px 6px 20px;
  margin: 30px 10px 10px -71px;
  color: #fff;
  background-color: #4fbfa8;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon .theribbon:before,
.ribbon .theribbon:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

.ribbon .theribbon:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #2d7b6b #2d7b6b transparent transparent;
}

.ribbon.sale {
  top: 0;
}

.ribbon.new {
  top: 50px;
}

.ribbon.new .theribbon {
  background-color: #17a2b8;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon.new .theribbon:after {
  border-color: #0c525d #0c525d transparent transparent;
}

.ribbon.gift {
  top: 100px;
}

.ribbon.gift .theribbon {
  background-color: #28a745;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon.gift .theribbon:after {
  border-color: #145523 #145523 transparent transparent;
}

.modal {
  display: block !important;
}

.modal-header {
  background: #4fbfa8;
}

.modal-header h5 {
  color: #fff;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

#productMain {
  margin-bottom: 30px;
}

#productMain .goToDescription {
  margin-top: 20px;
  font-size: 0.738rem;
  text-align: center;
}

#productMain .goToDescription a {
  color: #999;
  text-decoration: underline;
}

#productMain .price {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

#productMain .buttons {
  margin-bottom: 0;
  text-align: center;
}

#productMain .buttons .btn {
  margin-bottom: 10px;
}
.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
