<ng-container *ngIf="confirmModal">
    <div tabIndex="-1" class="modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Желаете ли да изтриете книгата?</h5>
                    <button class="close" (click)="closeModal()">×</button>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <button class="btn btn-outline-secondary" (click)="closeModal()"> Откас</button>
                        <button class="btn btn-outline-danger" (click)="geleteBook()"><i class="fa fa-trash"></i>
                            Delete</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop"></div>
</ng-container>
<div class="row">
    <app-breadcrumb class="col-lg-12" currentPage="Детайл" />
    <app-sidebar class="col-lg-3" />
    <div class="col-lg-9 order-1 order-lg-2">
        <div id="productMain" class="row">
            <div class="col-md-6">
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="{{book.imgUrl}}" alt="{{book.title}}" class="img-fluid" />
                            </div>
                            <div class="back">
                                <img src="{{book.imgUrl}}" alt="{{book.title}}" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <a class="invisible ">
                        <img src="{{book.imgUrl}}" alt="{{book.title}}" class="img-fluid" />
                    </a>
                    <div class="text">
                        <h3>{{book.title}}</h3>
                        <p class="price">{{book.price | price: 'BGN'}}</p>
                    </div>
                    <div class="ribbon sale" *ngIf="book.sale">
                        <div class="theribbon">SALE</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <div class="ribbon new" *ngIf="book.news">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <h4>Автор</h4>
                    <p>{{book.author}}</p>
                    <hr />
                    <h4>Издателство</h4>
                    <p>{{book.publisher}}</p>
                    <hr />
                    <h4>Година на издаване</h4>
                    <p>{{book.year}}</p>
                    <hr />
                    <h4>Език</h4>
                    <p>{{book.language}}</p>
                    <hr />
                    <h4>Създаден на</h4>
                    <p>{{book.createdAt | date:"dd.MM.yyyy HH:mm"}}</p>
                    <hr />
                    <ng-container *ngIf="isUpdate">
                        <h4>Обновен на</h4>
                        <p>{{book.updatedAt | date:"dd.MM.yyyy HH:mm"}}</p>
                        <hr />
                    </ng-container>
                    <blockquote>
                        <p><em>{{book.description}}</em></p>
                    </blockquote>
                    <ng-container *ngIf="isOwner">
                        <hr />
                        <p class="text-center buttons">
                            <button class="btn btn-primary" (click)="editBook()"><i class="fa fa-edit"></i>
                                Edit</button>
                            <button class="btn btn-outline-danger" (click)="showModal()"><i class="fa fa-trash"></i>
                                Delete</button>
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
