#user-details {
  background: #555;
  padding: 15px 0;
  color: #fff;
  font-size: 0.738rem;
  height: 50px;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.nav-link.disabled {
  color: #6c757d;
}

.logout {
  cursor: pointer;
}

.notification {
  color: #e83e8c;
  font-style: italic;
}

.navbar {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}

.navbar_bottom {
  padding: 20px 0;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_bottom .container {
  text-align: right;
  max-width: 800px;
}

input {
  margin-left: 20px;
}

.navbar .navbar-nav > .nav-item > .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 30px 15px !important;
  color: #555;
  min-width: 150px;
}

.navbar #basket-overview {
  padding: 0;
}

.navbar .navbar-btn {
  color: #fff;
  margin-right: 10px;
}

.navbar .navbar-nav > .nav-item > .nav-link.active,
.navbar .navbar-nav > .nav-item > .nav-link:hover,
.navbar .navbar-nav > .nav-item > .nav-link:focus {
  background: #4fbfa8;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav > .nav-item > .nav-link {
    padding: 10px 15px !important;
  }
  .navbar .dropdown-menu {
    position: relative !important;
    border: none;
  }
  #user-details {
    font-size: 0.738rem;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}
